header{
  color:white;
  background: red;
  margin:0;
 }
 
nav ul{
    margin:0;
    display: inline;
}

nav ul li{
    border-radius: 5px;
    background: green;
    color: darkblue;
    list-style-type: none;
    display: inline-block;
    padding:10px 25px;

}

body{
  background: white;
  color: red;
}

footer{
   background:red;
   color: white;
  display:block;
  margin:0;
}
  
